<small>&copy; {{ "now" | date: "%Y" }} Built with <a href="https://11ty.dev/">Eleventy</a> & <a href="https://liquidjs.com/">LiquidJS</a> by <a href="{{ site.authorUrl }}">Michel Maillard</a>{% if decapcms %} • <a href="{{ '/assets/admin' | url }}" target="_blank">Decap CMS config</a>{% endif %} • <a href="{{ site.github }}">GitHub</a></small>
